<footer id="footer" class="bg-color dark border-0">


    <div id="copyrights">

        <div class="container-fluid">

            <div class="row justify-content-between align-items-center">
                <div class="col-md-6">
                    <a href="https://www.instagram.com/aydin.software/"><span style="color:white"> <b>Aydın Yazılım </b>
                        </span></a> tarafından hazırlanmıştır
                </div>

                <div class="col-md-6 d-md-flex flex-md-column align-items-md-end mt-4 mt-md-0">

                    <div class="copyrights-menu copyright-links">
                        <a href="/">Anasayfa</a>/<a href="/about">Hakkımızda</a>/<a href="/contact">İletişim</a>/<a
                            href="/sss">S.S.S</a>
                    </div>
                </div>
            </div>

        </div>

    </div><!-- #copyrights end -->

</footer><!-- #footer end -->

</div><!-- #wrapper end -->

<!-- Go To Top
============================================= -->
<div id="gotoTop" class="uil uil-angle-up"></div>

<!-- JavaScripts
============================================= -->
<script src="/js/plugins.min.js"></script>
<script src="/js/functions.bundle.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.8.4/dist/lazyload.min.js"></script>
<script src="/js/custom.js"></script>

<script defer>

</script>

</body>

</html>