<!DOCTYPE html>
<html dir="ltr" lang="tr-TR">

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="x-ua-compatible" content="IE=edge" />
  <meta name="author" content="SemiColonWeb" />
  <meta name="description"
    content="Deneyim: Yılların getirdiği deneyim ve uzmanlıkla, projelerinizi hayallerinizin ötesinde gerçekleştirebiliyoruz. Yaratıcılık: Her işte özgün ve yaratıcı yaklaşımlar geliştirerek, sizi rakiplerinizden ayırıyoruz. Profesyonellik: Ekip arkadaşlarımız, ekipmanlarımız ve süreçlerde izlediğimiz yol ile her zaman profesyonelliği garanti ediyoruz. Müşteri Odaklılık: Müşteri memnuniyeti bizim için önceliklidir ve her zaman sizinle iş birliği yapmaktan mutluluk duyarız." />
  <meta name="keywords"
    content="Hipporent ,Hipporentpro,Steadicam,Kamera,Gimbal,Lens,Production,Monitor,Gimbal Stedycam,Ses" />

  <!-- Font Imports -->
  <!-- <link rel="preconnect" href="https://fonts.googleapis.com" /> -->
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <!-- <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap" /> -->

  <link rel="stylesheet" href="/style.css" />

  <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/bootstrap-icons.svg" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet"
    type="text/css" /> -->
  <link rel="stylesheet" href="/css/font-icons.css" />
  <!-- <link rel="icon" href="/admin/images/logo2.png" type="image/x-icon" /> -->

  <link rel="stylesheet" href="/css/swiper.css" />
  <link rel="stylesheet" href="/demos/store/store.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- Document Title
	============================================= -->
  <title>Hipporent Pro</title>
</head>

<body class="stretched modal-subscribe-bottom">
  <!-- Document Wrapper
	============================================= -->
  <div id="wrapper">
    <!-- Header
		============================================= -->
    <header id="header" class="dark transparent-header floating-header" data-sticky-shrink="false"
      data-sticky-class="not-dark">
      <div id="header-wrap">
        <div class="container-fluid">
          <div class="header-row justify-content-lg-between">
            <!-- Logo
						============================================= -->
            <div id="logo" class="me-lg-0">
              <a href="/">
                <img class="logo-default logo-scale" srcset="
                /images/logo12.png,
                /images/logo12.png 2x
                    " src="/images/logo12.png" alt="Canvas Logo" />
                <img class="logo-dark logo-scale" srcset="
                /images/logo12.png,
                /images/logo12.png 2x
                    " src="/images/logo12.png" alt="Canvas Logo" />
              </a>
            </div>
            <!-- #logo end -->

            <div class="header-misc"></div>

            <div class="primary-menu-trigger">
              <button class="cnvs-hamburger" type="button" title="Open Mobile Menu">
                <span class="cnvs-hamburger-box"><span class="cnvs-hamburger-inner"></span></span>
              </button>
            </div>

            <!-- Primary Navigation
						============================================= -->
            <nav class="primary-menu with-arrows">
              <!-- Menu Left -->
              <ul class="menu-container">
                <li class="menu-item current">
                  <a class="menu-link" href="/">
                    <div>Anasayfa</div>
                  </a>
                </li>
                <li class="menu-item current">
                  <a class="menu-link" href="/about">
                    <div>Hakkımızda</div>
                  </a>
                </li>

                <li class="menu-item mega-menu">
                  <a class="menu-link" href="#">
                    <div>Ekipman Kirala</div>
                  </a>
                  <div class="mega-menu-content mega-menu-style-2">
                    <div class="container">
                      <div class="row">

                        <ul class="mega-menu-column sub-menu-container col-lg-4 border-start-0">
                          <li class="mega-menu-title menu-item">
                            <a class="menu-link" href="#">
                              <div>Ekipmanlar</div>
                            </a>
                            <ul id="categories-wrapper-left" class="sub-menu-container"></ul>
                          </li>
                        </ul>

                        <ul class="mega-menu-column sub-menu-container col-lg-4 border-start-0">
                          <li class="mega-menu-title menu-item">
                            <a class="menu-link" href="#">
                              <div></div>
                            </a>
                            <ul id="categories-wrapper-right" class="sub-menu-container"></ul>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </li>
                <!-- .mega-menu end -->
                <li class="menu-item">
                  <a class="menu-link" href="/contact">
                    <div>İletişim</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a class="menu-link" href="/sss">
                    <div>S.S.S</div>
                  </a>
                </li>

              </ul>
            </nav>
            <!-- #primary-menu end -->
          </div>
        </div>
      </div>
      <div class="header-wrap-clone"></div>
    </header>
    <!-- #header end -->
  </div>
</body>

</html>