<div class="section bg-transparent py-3">
    <div class="container-fluid">
        <div class="row justify-content-center m-auto" style="max-width: 1000px;">
            <div class="col-md-7">
                <p class="h6 mb-0 text-muted">Bütün ekipman kiralama işlemleri için bizimle iletişime geçebilirsiniz <a
                        href="mailto:noreply@canvas.com"><u><%= data.contactServicee.email %></u></a> email adresimiz </p>
            </div>
            <div class="col-md-5 mt-3 mt-md-0">
                <h2 class="h1 fw-bold ls--1 color"><a href=""><%= data.contactServicee.phone %></a></h2>
            </div>
        </div>
    </div>
</div>