<div class="section m-0 border-0" style="padding: 40px 0">
    <div class="video-wrap no-placeholder" style="z-index: 0">
        <video poster="demos/store/videos/ekran.jpg" preload="auto" class="lazy" loop autoplay muted playsinline>
            <source data-src="demos/store/videos/vid.mp4" type="video/mp4" />
        </video>
        <div class="video-overlay" style="background: rgba(0, 0, 0, 0.2)"></div>
    </div>
    <div class="emphasis-title widget subscribe-widget mx-auto text-center px-4" data-loader="button"
        style="max-width: 650px">
        <h2 class="fw-bold text-white">HİPPORENT</h2>
        <p class="mb-5 text-white-50 lead" data-delay="100">
            Tüm çekim işlemleri için kiralık ekipmanlar
        </p>
        <div class="widget-subscribe-form-result"></div>
        <form id="widget-subscribe-form-2" class="mt-1 input-group input-group-lg mb-0">
            <input type="email" id="widget-subscribe-form-2-email" name="widget-subscribe-form-email"
                class="form-control required email rounded-0 border-0" disabled placeholder="Bizimle İletişime Geç !" />
            <a href="/contact" class="btn btn-dark bg-color rounded-0 text-uppercase fw-bold">İletişim</a>
        </form>
    </div>
</div>